.about__us {
  height: 100vh;
  display: flex;
  justify-content: space-between;

  .us {
    height: 100%;
    width: 50%;
    padding: 12rem 6rem;
    background: $light-background;

    .us__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 2rem;
        text-align: center;
        margin-top: 3rem;
        font-weight: 200;
        line-height: 3rem;
      }
    }
    .signature {
      display: flex;
      justify-content: flex-end;
    }
  }

  .photo {
    background: url("../../assets/People.jpg") no-repeat;
    height: 100%;
    width: 50%;
  }
}