.hero {
  height: 100vh;
  background: url("../../assets/Home-Hero-Image.jpg") no-repeat;
  background-position: -30rem;
  display: flex;
  justify-content: flex-end;

  .hero__cnt {
    width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 3rem;

      .registration {
        display: flex;

        li {
          list-style: none;
          border: 1px solid transparent;
          padding: 0.6rem;
          transition: 0.5s;
          margin: 1rem;

          &:hover {
            border: 1px solid $border-yellow;
          }
        }
      }

      .menu {
        display: flex;

        li {
          list-style: none;
          border: 1px solid transparent;
          padding: 0.6rem 1rem;
          transition: 0.5s;
          margin: 1rem;

          &:hover {
            border: 1px solid $text-inactive;
          }
        }
      }
    }

    .hero__action-cnt {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 8rem;

      .hero__action-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;

        p {
          font-size: 2rem;

        }
      }

      .hero__action-btn {
        display: flex;
        justify-content: space-between;
        padding-top: 6rem;
      }
    }
  }
}